@import "../../var";

.InfoTitle {
  @include fontSize2($bold);
  margin-bottom: 1px;

  @include tablet-desktop {
    @include fontSize3($bold);
  }
}

.InfoValue {
  font-size: 32.5px;
  font-weight: 300;
  line-height: 1.1;

  @include tablet-desktop {
    @include fontSize7(300)
  }
}

.InfoUnit {
  @include fontSize1(500);
  color: $color-detail;

  @include tablet-desktop {
    @include fontSize2(500);
  }
}

.InfoCriteria {
  @include fontSize1($bold);
  background-color: $color-accent2;
  color: $color-primary;
  border-radius: 50px;
  padding: 1px 8px;
  min-width: 50px;

  @include tablet-desktop {
    @include fontSize2($bold);
    min-width: 65px;
  }
}

.InfoTime {
  margin: 10px 0 15px;

  @include tablet-desktop {
    margin: 15px 0 25px;
  }
}