@import "../../var";

.InfoTitle {
  @include fontCaption($bold);
  margin-bottom: 2px;
}

.InfoValue {
  font-size: 33px;
  font-weight: 300;
  line-height: 1.1;

  @include tablet-desktop {
    font-size: 37px;
  }
}

.InfoUnit {
  @include fontCaption(500);
  color: $color-detail;
}

.InfoCriteria {
  @include fontCaption($bold);
  background-color: $color-accent2;
  color: $color-primary;
  border-radius: 50px;
  padding: 1px 8px;
  min-width: 50px;

  @include tablet-desktop {
    min-width: 65px;
  }
}

.InfoTime {
  margin: 10px 0 15px;

  @include tablet-desktop {
    margin: 15px 0 25px;
  }
}