@import "../../var";

#resultSwiper {
  flex-grow: 1;
  width: 60%;
  max-width: 300px;
  max-height: 300px;
  position: relative;
  background-color: #fafafa;
  border-radius: $radius;
  border: 10px solid #fafafa;

  >.swiper-container {
    position: absolute;
    height: 100%;
    width: 100%;
    @include flex(row);
  }

  .swiper-wrapper {
    @include flex(column);
    justify-content: flex-start;
  }

  .swiper-slide {
    @include flex(column);
    padding: 5px;

    img {
      height: 100%;
      z-index: 4;
    }

    .Shadow {
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 5px;
      z-index: 3;
      top: 3px;
      left: 5px;
    }
  }
}