@import "../../var";

#ResultSwiper {
  height: 100%;
  width: 100%;
  position: relative;
  margin-right: 10px;

  >.swiper-container {
    position: absolute;
    height: 100%;
    width: 100%;
    @include flex(row);
  }

  .swiper-wrapper {
    @include flex(column);
    justify-content: flex-start;
  }

  .swiper-slide {
    img {
      height: 100%;
      padding-right: 10px;
    }
  }
}

#WeightHeightRef {
  height: 100%;
  position: absolute;
  z-index: -5;
}