@font-face {
  font-family: "Prompt";
  src: url("Prompt-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Prompt";
  src: url("Prompt-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Prompt";
  src: url("Prompt-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Prompt";
  src: url("Prompt-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Prompt";
  src: url("Prompt-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Prompt";
  src: url("Prompt-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Prompt";
  src: url("Prompt-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Prompt";
  src: url("Prompt-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Prompt";
  src: url("Prompt-Black.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: TATSanaSuksa;
  src: url(TATSANA-SUKSA-REG.ttf);
}