@import "../../var";

.InfoContainer {
  width: 100%;
  @include flex(column);
}

.Row {
  width: 100%;
  max-width: 480px;
  @include flex(row);

  .RowSpace {
    flex-grow: 1;
    max-width: 15px;

    @include tablet-desktop {
      max-width: 25px;
    }
  }

  .RowSpaceCriteria {
    width: 5px;
  }
}

.Bmi {
  margin-top: 10px;

  @include tablet-desktop {
    margin-top: 15px;
  }

  >div:nth-child(2) {
    width: 88px;

    @include tablet-desktop {
      width: 95px;
    }
  }
}

.BloodPressure {
  margin: 10px 0 5px;
}