@import "../../../var";

.TemperatureContainer {
  flex-grow: 1;
  max-height: 290px;
  width: 100%;
  position: relative;

  >div {
    position: absolute;
    height: 100%;
    width: 100%;
    @include flex(row);
  }
}

.TempSvgContainer {
  height: 100%;
  position: relative;
  @include flex(column);
  margin-right: 20px;

  .TempBarContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    @include flex(column);
    justify-content: flex-end;

    .TempBar {
      background-color: $color-accent1;
      width: 10%;
      height: 40%;
      position: relative;
      border-radius: 50px;
      bottom: 10%;
      animation: TempBar 4s ease-in-out infinite;
    }
  }
}

@keyframes TempBar {
  0% {
    height: 40%;
  }

  50% {
    height: 70%;
  }

  100% {
    height: 40%;
  }
}