@import "../../var";

.Title {
  width: 100%;
  max-width: 640px;
  margin-bottom: 15px;
  @include flex(row);
  justify-content: space-between;

  @include tablet-desktop {
    margin-bottom: 20px;
  }
}

.Container {
  width: 100%;
  max-width: 640px;
  max-height: 550px;
  padding: 15px;
  position: relative;
  background-color: $color-primary;
  border-radius: $radius;
  flex-grow: 1;
  @include flex(column);
  @include shadow1;

  @include tablet-desktop {
    padding: 25px 0;
  }
}

.ResultCriteria {
  width: 100%;
  flex-grow: 1;
  @include flex(column);
}

.ResultChart {
  width: 100%;
  height: 100%;
  padding: 15px;
  position: absolute;
  z-index: 100;
  transition: all 0.3s ease-in-out;

  >div {
    background-color: $color-primary;
    width: 100%;
    height: 100%;
    @include flex(column);
  }
}

.Chart {
  width: 100%;
  padding: 10px;
  background-color: #fafafa;
  border-radius: $radius;
  flex-grow: 1;
  @include flex(column);
}

.Criteria {
  margin-top: 20px;
  background-color: $color-accent2;
  color: white;
  padding: 1px 10px;
  min-width: 150px;
  border-radius: 100px;
  @include fontH2;

  @include tablet-desktop {
    min-width: 175px;
  }
}

.CriteriaDetail {
  margin-top: 15px;
  padding: 2px 10px;
  max-width: 400px;
  @include fontBody;

  * {
    @include fontBody;
  }

}

.TitleInfoContainer {
  height: 27px;
  @include fontH1;

  @include tablet-desktop {
    height: 33px;
  }

  img {
    height: 0.7em;
    opacity: 0.2;
    margin-left: 10px;
    cursor: pointer;
  }
}