@import "../../../var";

.Container {
  div {
    display: inline-block;
  }
}

.Value {
  text-align: right;
  width: 63px;

  @include tablet-desktop {
    width: 68px;
  }
}

.Space {
  width: 13px;
}

.DetailContainer {
  @include font-small(500);
  line-height: 1.85;

  @include tablet-desktop {
    @include font-body(500);
    line-height: 1.50;
  }

  div {
    display: block;
    text-align: left;
  }
}

.Detail {
  color: $color-accent1;
  width: 32px;

  @include tablet-desktop {
    width: 40px;
  }

  img {
    height: 7px;
    position: relative;
    top: -0.5px;
    margin-right: 4px;

    @include tablet-desktop {
      height: 8px;
      top: -1px;
    }
  }
}

.Value.toFixed {
  width: 83px;

  @include tablet-desktop {
    width: 92px;
  }
}

.Detail.toFixed {
  width: 37px;

  @include tablet-desktop {
    width: 45px;
  }
}

.Unit {
  color: $color-detail;
}