$color-primary: white;
$color-accent1: #fa5458;
$color-accent2: #feb562;
$color-text: #3b4251;
$color-detail: #b1b3b9;

$radius: 15px;

@mixin mobile {
  @media only screen and (max-width:767px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 768px) and (max-width: 1023px) and (min-height: 605px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1024px) and (min-height: 605px) {
    @content;
  }
}

@mixin tablet-desktop {
  @media only screen and (min-width: 768px) and (min-height: 605px) {
    @content;
  }
}

@mixin flex($direction) {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

$bold : 600;
$medium : 400;

@mixin fontH0 {
  font-size: 28px;
  font-weight: $bold;

  @include tablet-desktop {
    font-size: 33px;
  }
}

@mixin fontH1 {
  font-size: 20px;
  font-weight: $bold;

  @include tablet-desktop {
    font-size: 25px;
  }
}

@mixin fontH2 {
  font-size: 17px;
  font-weight: $bold;

  @include tablet-desktop {
    font-size: 20px;
  }
}

@mixin fontBody {
  font-size: 13.5px;
  font-family: TATSanaSuksa;
  line-height: 1.6;

  @include tablet-desktop {
    font-size: 16.5px;
  }
}

@mixin fontCaption($weight) {
  font-size: 12px;
  font-weight: $weight;

  @include tablet-desktop {
    font-size: 14px;
  }
}

@mixin shadow1 {
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.05);
}